<p><%= post.caption %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       <p style="width:640px; height:auto">
<%= image_tag post.image.url %>
<%# <%= image_tag(post.image, style:"width:100%") %> %>
</p>